body { 
  background-color: #EFD279;
  margin: 0;
  padding: 0;
  height: 100%;
}
body, input, button {
  font-family: serif;
  font-size: 18pt;
}
h1, h2 {
  font-family: sans-serif;
  color: #024769;
}
a, label {
  color: #2C5700;
}
.container {
  max-width: 800px; 
  margin: auto; 
  background-color: white;
  height: 120%;
  padding: 20px 40px 0px 40px;
}
.canvas-container {
  max-width: 300px;
  margin: auto;
}
label { font-weight: bold;}
label:after { content: ': ' }
.settings-container { 
  background-color: #AFD775;
  padding: 5px;
  margin: 30px;
  margin-top: 40px;
  padding: 20px;
}
input { width: 50px;}
#btnRefresh {
  margin-right: 30px;
}
